body {
	font-family: "Poppins", sans-serif;
}

.container {
	margin: 0;
}

.hi {
	margin-top: 45px;
	font-size: 60px;
	width: 100%;
	text-align: center;
}

.profile-pic-container {
	margin: 0;
}

.profile-pic {
	display: block;
	margin: auto;
	width: 15%;
	border-radius: 50%;
	transition: transform 0.2s;
}

.profile-pic: hover {
	transform: scale(1.2);
	transform: rotate(25deg);
}

.description {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.primaryHighlight {
	background-color: orange;
	border-radius: 6px;
	padding: 4px;
	color: #ffffff;
}

.dx {
	background-color: deeppink;
	border-radius: 6px;
	padding: 10px;
}

.dx a {
	color: #ffffff;
}

.devtools {
	background-color: mediumslateblue;
	border-radius: 6px;
	padding: 10px;
	color: #ffffff;
}

.talks-section {
	margin-top: 40px;
}

.talks-link {
	text-decoration: none;
	color: black;
}

.talks {
	font-size: 30px;
	text-align: center;
	margin-bottom: 15px;
}

.talks-list {
	text-align: center;
	list-style: none;
	margin: 0px;
	font-size: 20px;
}
